/* prima parte di reset, font  */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

.debug{
    border: 1px dotted red;
}

/* header */
a{
    text-decoration: none;
    color: black;
}
header{
    position: sticky;
    top: 0px;
    z-index: 12;
}
#barra-nav{
    background-color: white;
    
   
    background-color: white;
    height: 7vh;
    align-items: center;
    justify-content:space-between;
}

.flex{
    display: flex;
}

section > nav:nth-child(1){
    margin-left: 20px;
}
section > nav:last-child {
    margin-right: 20px;
}
nav > a{
    margin-right: 20px;
    margin-left: 20px;
}

.b-blue{
    background-color: blue;
    color: white;
    padding-right: 15px; padding-left: 15px;
    padding-bottom: 5px; padding-top: 5px;
}
.b-blue:hover{
    background-color: rgb(70, 70, 253);
}

header section nav a:hover{
    border-bottom: 2px solid black;
}

                    /*main*/

                    /* SEZIONE 1 */
.container-60{
    width: 60%;
    margin: 0 auto;
}

.w-25{
    flex-basis: 25%;
    /* height: auto; */
}
.margin-top50{
    margin-top: 50px;
}

.b-turquoise{
    background-color: #B7D0E8;
    height: 580px;
}
.height-400{
    height: 400px;
}
h1{
    padding-top: 50px;
    font-size: 3.5em;
    margin-right: 20%;
}

.margin-top-25{
    margin-top: 25px;
}

.margin-bot-25{
    margin-bottom: 25px;
}


#arrow{
    font-size: 40px;
    margin-top: 80px;
}

.container-45{
    margin-top: 150px;
    width: 45%;
    margin-left: auto; margin-right: auto;
}

.circle1, .circle2{
    margin-right: 3px;
}
.circle2{
    margin-left: 40px;
}

.table{
    border: 1px solid black;
    width: 30%;
}
.text-center{
    text-align:center;
    display: block;
}

.p30{
    padding: 30px;
}

.space-between{
    justify-content: space-between;
}

.icone{
    margin-right: 5px;
}
.thead{
    padding: 10px;
    border-bottom: 1px solid black;
}

.p30 ul li {
    display: flex;
    list-style-type: none;
    margin-bottom: 1em;
}

.margin-top1em{
    margin-top: 1em;
}

.a-standard{
    text-decoration: underline;
    color: blue;
}

.hr{
    border-bottom: 1px solid black;
    margin-left: 30px;
    width: 60px;
}
.spunte ul li{
    list-style-type: none;
}

.spunte ul li::before{
    content: '\2714';
    color: blue;
    margin-right: 5px;
}

/* SEZIONE 3 */
.border{
    border: 1px solid black;
}

.w-70{
    width: 70%;
}